/**************************************
*********** File structure ************
**************************************/
body{
    margin: 0px;
    color:azure;
}
#fullPage{
    height: 100%;
    width: 100%;
    background-image: url("../images/wallpaper.jpg");
    background-size: 100% 100%;
}

#menuBar{
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: darkblue;
    display: block;
    z-index: 10;
    text-align: center;
}

#salutation{
    float: left;
    z-index: 10;
}

.menuItem{
    padding-left:0;
    margin: 0;
    line-height: 40px;
}

/**
*   QUOTE LIST
*/

#quote{
    color: white;
}

#quoteList{
    background-color: darkmagenta;
    padding: 60px 50px 50px 50px;
    display: none;
}

.justSeen{
    color: white !important;
}

.quoteContent{
    color:darkgray;
}

#playlist{
    padding: 100px 2% 30px 2%;
    background-color: chartreuse;
}

/* List of items */
#itemList{
    table-layout:fixed;
    border: solid 2px blue;
}

/* Item from the list */
.listItem{
    width: 100%;
    height: 40px;
    background-color: red;
    border: solid 1px black;
    display: inline-block;
}

/* Text from the item on the list*/
.listText{
    margin: 0px;
    line-height: 40px;
}

/* Div with the lyrics */
.song_lyrics{
    height: 200px;
    border: black;
    background-color: blueviolet;
    display: none;
}



/***
 *  ITEMS ON THE PLAYLIST
 */

/* Menu */
.listTitle.songTitle{
    margin-left: 45px;
}

.listTitle.songFavorite{
    display: none;
}

/* Image with the play icon */
.play_button{
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

.songTitle{
    /*position: absolute;*/
    float: left;
    margin-left: 10px;
    z-index: 2;
}

.songSinger{
    position: absolute;
    left: 35%;
    z-index: 3;
}

.songAlbum{
    position: absolute;
    left: 60%;
    z-index: 4;
}

.songFavorite{
    position: absolute;
    left: 95%;
    z-index: 5;
}

.hidden{
    display: none !important;
}

