body{
    font-family: "Century Gothic";
    height: 100%;
    width: 100%;
    background-image: url("../images/5.jpg");
    overflow: hidden;
}

.content{
    display: block;
    width: auto;
    height: 332px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.lyricsLine{
    display: list-item;
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}

#songImage{
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;

}

.songImageDiv{
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;

}

.songInformation{
    display: block;
    margin: 0px;
    padding: 0px;
    width: auto;
    float: left;
}

#audioPlayer{
    margin: 0px;
    padding: 0px;
}

.lyrics{
    float: left;
    display: inline-block;
}



#catalanLyrics{
    background: rgba(255, 255, 220, 0.4);
}

#spanishLyrics{
    background: rgba(255, 220, 255, 0.4);
}

#englishLyrics{
    background: rgba(220, 255, 255, 0.4);
}

#catalanLyrics, #spanishLyrics, #englishLyrics{
    float: left;
    height: 302px;
    font-weight: bold;
    margin: 0px;
    padding: 20px 10px 10px 10px;
    width: 453px;
}

.lyricsLanguageTitle{
    font-size: 20px;
    margin: 0px;
    padding: 0px 0px 0px 50px;
    height: 32px;
}

.actualLyricsLine{
    color: #000000;
    display: list-item;
}

.lyricsContainer{
    text-align: center;
    color: #111;
    height: 270px;
    line-height: calc(270px/5);
}